<h3>Here are all my albums</h3>
{% if all_albums %}

    <ul>
        {% for album in all_albums %}
        <li>
            <!--
            we want to remove the /music/album.id to dynamic /music,
            we will use the variable we used in the urls.py 'detail'

            <a href="/music/{{ album.id }}/">{{album.album_title}}</a>
            -->

            <a href="{% url 'music:detail' album.id  %}">{{album.album_title}}</a>
        </li>
        {% endfor %}
    </ul>
{% else %}

{% endif %}