{% extends 'base.html' %}

{% block content %}
    <b>{{ post.title }}</b>

----------{{ post.description }}

    <br>
    <a href="{% url 'post_lists' %}">
        <button class="btn btn-group btn-group-lg btn-info">All Posts</button>


    </a>
{% endblock %}
{##}
{#{% load staticfiles %}#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{##}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">#}
{##}
{#    <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
{#    <script src="{% static 'js/bootstrap.js' %}"></script>#}
{##}
{#</head>#}
{#<body>#}
{##}
{##}
{#</body>#}
{#</html>#}
